.why-choose-section {
    padding: 65px 0;
}

.why-choose-tab {
    .tab-buttons {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 100px;
        padding-bottom: 12px;
        border-bottom: 2px solid #4e707033;
    }
}

.why-choose-section {
    .tab-content {
        margin-top: 60px;
        width: 100%;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .tab-btn {
        text-transform: capitalize;
        font-family: fontfamily(montserratAlternates);
        font-weight: 700;
        color: color(title);
        transition: 0.3s;
        span {
            color: #999999;
            transition: 0.3s;
        }

        .text,
        .text2 {
            color: color(title);
        }

        &.active {
            span {
                color: #00cec9;
            }

            .text,
            .text2 {
                color: color(title);
            }
        }
    }

    .tab-body {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 50px;

        &-icon {
            width: 30%;
            flex: 0 0 auto;
        }
        &-text {
            flex: 0 0 auto;
            width: 50%;
        }
        h2 {
            font-size: 24px;
            line-height: 36px;
        }
        p {
            margin-top: 29px;
            color: #444444;
        }
        .list {
            margin-top: 11px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .list-item {
                display: flex;
                align-items: center;
                gap: 10px;
                svg {
                    font-size: 18px;
                    color: #999999;
                    position: relative;
                    top: -5px;
                }
                p {
                    margin-top: 0;
                    color: color(title);
                }
            }
        }
    }
}

body {
    overflow-x: hidden;
}

.why-choose-parent {
    width: 100%;
    margin: 0 auto;
    position: relative;
    .overlay-left,
    .overlay-right {
        position: absolute;
        z-index: 1;
        top: 0;
        width: 19%;
        height: 100%;
    }
    .overlay-left {
        left: 0;
        background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    }
    .overlay-right {
        right: 0;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    }
}

.why-choose-section {
    position: relative;

    .why-choose-tab {
        position: absolute;
        top: 110px;
        left: 0;
        width: 100%;
        height: auto;

        progress {
            position: relative;
            top: -20px;
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            height: 2px;
            border: none;
            background: transparent;
            z-index: 2000;
        }

        progress::-webkit-progress-bar {
            background: transparent;
        }
        progress::-webkit-progress-value {
            background: color(heroimg1Bg);
            background-attachment: fixed;
        }
        progress::-moz-progress-bar {
            background: color(heroimg1Bg);
            background-attachment: fixed;
        }
    }

    .wrapper {
        display: flex;
        flex-wrap: nowrap;
        gap: 30px;
        max-height: 500px !important;
        height: 500px !important;
    }

    .section {
        position: relative;
        top: 140px;
        width: 1170px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        transition: 0.3s;
    }
}

.why-choose-content {
    display: none;

    .tab-item {
        &:not(:first-child) {
            margin-top: 30px;
        }
    }
    .tab-body {
        margin-top: 20px;
    }
}
