.design-system-sticky {
    z-index: 1;
    background: #f4f5f8;
    padding-top: 132px;
    padding-bottom: 60px;
    width: 100% !important;
}
.design-system-img {
    text-align: center;
    max-width: 870px;
    width: 100%;
    margin: auto;
    margin-top: 54px;
}
.v8-seroll-content {
    position: relative;
    z-index: 2;
    background: #ffffff;
}
