.pricing-plan-breadcrumb-right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 90px;
    .best-pricing-selector form button {
        color: color(whiteColor);
    }
}

.pricing-plan-section {
    background: transparent;
    margin-top: -300px;
    position: relative;
    z-index: 2;
    padding-bottom: 100px;
}
.pricing-plan-card {
    background: color(whiteColor);
    border-radius: 15px;
    padding: 46px 40px;
    position: relative;
    min-height: 100%;
    &::before {
        content: "";
        border-radius: 15px 15px 0px 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 15px;
    }
    &.free-card {
        &::before {
            background: rgba(14, 195, 107, 0.3);
        }
    }
    &.growth-card {
        &::before {
            background: rgba(0, 206, 201, 0.3);
        }
    }
    &.business-card {
        &::before {
            background: rgba(249, 81, 140, 0.3);
        }
    }

    .best-pricing-card-body {
        .list {
            padding: 0;
            list-style: none;
            li {
                &::before {
                    background: rgba(0, 0, 0, 0.12);
                    top: 15px;
                }
            }
        }
    }

    &.active {
        .best-pricing-card-body {
            height: auto;
        }
        .pricing-plan-card-content.right {
            height: auto;
        }
    }
}

.pricing-plan-card-header {
    &.free {
        h6 {
            color: color(iconColor2);
        }
    }
    &.growth {
        h6 {
            color: color(heroimg1Bg);
        }
    }
    &.business {
        h6 {
            color: color(badgeColor);
        }
    }
    &.enterprise {
        h6 {
            color: color(primary);
        }
    }
    h6 {
        text-transform: uppercase;
        span {
            color: color(title);
            margin-left: 18px;
        }
    }
    h3 {
        margin-top: 35px;
        span {
            font-family: fontfamily(dmSans);
            @include textStyle(15px, 500, 26px);
        }
    }
}

.pricing-plan-card-content {
    &.right {
        text-align: center;
        max-width: 220px;
        margin-left: auto;
        .pricing-plan-img {
            position: relative;
            bottom: -96px;
        }
    }
}

.pricing-plan-show-btn {
    color: color(primary);
    width: 190px;
    text-align: left;
    padding-left: 36px;
    margin: 8px auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.3s;
    display: none;
    position: relative;
    &:hover {
        color: color(title);
        &::before {
            color: color(title);
        }
    }
    &::before {
        content: "+";
        font-size: 20px;
        min-height: 24px;
        min-width: 26px;
        position: absolute;
        left: 0px;
        border-radius: 50%;
        color: #ffffff;
        background: color(primary);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
    }
    &.active {
        &::before {
            content: "-";
        }
    }
}

.best-pricing-btn {
    max-width: 100%;
    width: 100%;
    height: 60px;
    border: 1px solid #0095ff4d;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: color(primary);
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 0;
    .icon {
        transition: 0.3s;
        margin-left: 15px;
    }
    &::before {
        position: absolute;
        z-index: -1;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        background-color: color(primary);
        transform: translateX(-100%);
        transition: 0.3s;
    }
    &:hover {
        border: 1px solid color(primary);
        color: color(whiteColor);
        &::before {
            transform: translateX(0%);
        }
        .icon {
            transform: rotate(-45deg);
            filter: brightness(100) sepia(1) hue-rotate(-120deg) grayscale(100%) contrast(5);
        }
    }
    &.active {
        border: 1px solid color(primary);
        color: color(whiteColor);
        background: color(primary);
        .icon {
            transform: rotate(-45deg);
            filter: brightness(100) sepia(1) hue-rotate(-120deg) grayscale(100%) contrast(5);
        }
    }
}
