.lets-talk-section {
    margin: 140px 0px;
}
.lets-talk-content {
    background: color(v6themeColor);
    border-radius: 30px;
    padding: 0px 70px;
    overflow: hidden;
}
.lets-talk-text {
    padding: 54px 0px 70px 0px;
    h2 {
        color: color(whiteColor);
        margin-bottom: 34px;
    }
    a {
    }
}
.lets-talk-img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
}
