.blog-details-section {
    margin-top: -110px;
    padding-bottom: 140px;
    position: relative;
    z-index: 111;
}
.blog-details-content {
    background: color(whiteColor);
    border-radius: 15px;
    margin-right: 20px;
    .blog-details-img {
        border-radius: 15px 15px 0px 0px;
        height: 430px;
        width: 100%;
        overflow: hidden;
        margin-bottom: 6px;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}
.blog-details-inner {
    padding: 30px;
    .blog-details-info-list {
        margin-bottom: 27px;
        ul {
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 28px;
            li {
                text-transform: uppercase;
                a {
                    color: color(primary);
                }

                span {
                    margin-right: 12px;
                }
            }
        }
    }
    .blog-details-headline {
        @include textStyle(18px, 500, 30px);
        color: color(title);
        margin-bottom: 20px;
    }
    .blog-text-title {
        @include textStyle(24px, 700, 36px);
        margin-bottom: 8px;
    }
    .blog-quotation-section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 28px;
        margin-top: 42px;
        margin-bottom: 47px;
        .quotation-icon {
            min-width: 20px;
            img {
                width: 100%;
            }
        }
        h4 {
            font-weight: 500;
            line-height: 40px;
            font-family: fontfamily(dmSans);
            font-style: italic;
        }
    }
    .blog-text-list {
        padding: 0;
        list-style: none;
        li {
            position: relative;
            padding-left: 22px;
            padding-bottom: 8px;
            &:last-child {
                padding-bottom: 0;
            }
            &:before {
                content: "";
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background: rgba(0, 206, 201, 0.4);
                position: absolute;
                left: 0px;
                top: 12px;
            }
        }
    }
    .blog-tag-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 47px;
        ul {
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 10px;
            li {
                padding: 7px 22px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 25px;
                transition: 0.3s;
                &:hover {
                    color: color(primary);
                    border: 1px solid color(primary);
                    transition: 0.3s;
                }
            }
        }
        button {
            padding: 8px 21px;
            display: flex;
            align-items: center;
            column-gap: 12px;
            background: rgba(0, 0, 0, 0.05);
            border-radius: 25px;
            color: color(textColor);
        }
    }
}

.blog-previous-next-section {
    margin: 60px 0px;
    margin-bottom: 40px;
    margin-right: 20px;
    .blog-card {
        background: color(whiteColor);
        border-radius: 15px;
        padding: 18px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 19px;
        margin-bottom: 20px;
        .blog-card-img {
            min-width: 100px;
            min-height: 80px;
            overflow: hidden;
            border-radius: 10px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        .blog-card-text {
            max-width: 213px;
            width: 100%;
            a {
                @include textStyle(15px, 500, 30px);
                color: color(primary);
            }
            h6 {
                a {
                    font-family: fontfamily(montserratAlternates);
                    @include textStyle(15px, 700, 24px);
                    color: color(title);
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        &.justify-right {
            justify-content: flex-end;
            flex-direction: row-reverse;
            .blog-card-text {
                text-align: right;
                margin-left: auto;
            }
        }
    }
}
