.blog-comment-section {
    background: rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 60px;
    margin-right: 20px;

    .reply-comment-block {
        padding-left: 80px;
    }
    .blog-comment-block {
        background: color(whiteColor);
        padding: 34px 30px 25px 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        h4 {
            margin-bottom: 27px;
        }
        .comment-people-section {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 14px;
            .comment-people-img {
                height: 50px;
                width: 50px;
            }
            .comment-people-text {
                span {
                    display: block;
                }
                .author-name {
                    font-weight: 700;
                    color: color(title);
                }
                .blog-date {
                    font-size: 14px;
                }
            }
        }
        .comment-content {
            padding-left: 64px;
            p {
                margin-top: 13px;
                margin-bottom: 16px;
            }
            button {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 9px;
                color: color(title);
                text-transform: uppercase;
                font-weight: 500;
            }
        }
    }
}
.comment-writing-section {
    border-radius: 15px;
    overflow: hidden;
    background: color(whiteColor);
    padding: 30px;
    margin-right: 20px;
    h4 {
        margin-bottom: 27px;
    }
    .comment-writing-form {
        .comment-writing-input-section {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            margin-bottom: 20px;
            label {
                color: color(title);
                margin-bottom: 5px;
                text-transform: uppercase;
            }
            input {
                width: 100%;
                height: 50px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                padding: 10px 15px;
                @include textStyle(15px, 500, 30px);
                color: color(textColor);
            }
            textarea {
                min-height: 120px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                padding: 10px 15px;
                @include textStyle(15px, 500, 30px);
                width: 100%;
                resize: none;
            }
        }
        button {
            margin-top: 10px;
        }
    }
}
