/*-- best-pricing-section start --*/
.best-pricing-section {
    padding: 112px 0 120px 0;
    background: linear-gradient(90deg, #d3e1ff 0%, #ecf1f8 45.31%, #ffeaef 98.8%);
    border-radius: 50px;
}

/*-- best-pricing-header style --*/
.best-pricing-header {
    margin-bottom: 40px;
    text-align: center;
    h3 {
        @include textStyle(18px, 700, 30px);
        color: color(primary);
        letter-spacing: 0.2em;
        text-transform: uppercase;
    }
}

/*-- best-pricing-selector style --*/
.best-pricing-selector {
    margin-bottom: 40px;
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        button {
            color: color(textColor);
            span {
                color: #00cec9;
            }
            &.active {
                color: color(title);
            }
        }
        input[type="checkbox"] {
            appearance: none;
            width: 50px;
            height: 24px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            background-color: color(whiteColor);
            position: relative;
            cursor: pointer;
            transition: 0.3s;
            &::before {
                position: absolute;
                content: "";
                top: 4px;
                left: 5px;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: #0095ff80;
                transition: 0.3s;
            }
            &:checked {
                background-color: color(primary);
                &::before {
                    left: 28px;
                    background-color: color(whiteColor);
                }
            }
        }
    }
}
.best-pricing-grid {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 30px;
    &.yearly {
        display: none;
    }
}

.best-pricing-card {
    width: 25%;
    padding: 38px;
    background-color: color(whiteColor);
    position: relative;
    .best-pricing-card-header {
        h3 {
            margin-bottom: 0;
            line-height: 1;
            span {
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
    &:first-child {
        border-radius: 30px 0 0 30px;
    }

    &:last-child {
        border-radius: 0 30px 30px 0;
        border: 1px solid #0000001a;
        border-left: 0;
    }

    &.active {
        border-left: 1px solid #0000001a;
        border-right: 1px solid #0000001a;
        .start-free-btn {
            background-color: color(primary);
            color: color(whiteColor);
        }
    }

    &.v2 {
        background-color: transparent;
    }

    .overlay {
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        height: 30px;
        border-radius: 10px 10px 0 0;
        background-color: #00cec9;
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 0 38px;
        p {
            font-size: 13px;
            font-weight: 700;
            line-height: 20px;
            color: color(whiteColor);
            text-transform: uppercase;
        }
    }

    &-header {
        p {
            margin-bottom: 25px;
        }
    }
    &-title {
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
            font-size: 30px;
            line-height: 30px;
        }
    }

    &-body {
        margin-top: 20px;
        .list {
            padding: 0;
            list-style: none;
            margin-top: 27px;
            li {
                color: color(textColor);
                padding-left: 16px;
                padding-bottom: 6px;
                position: relative;

                &:not(:first-child) {
                    margin-top: 10px;
                }

                &::before {
                    position: absolute;
                    content: "";
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: #00cec966;
                }
                &.v2 {
                    &::before {
                        background-color: #f9518c66;
                    }
                }
            }
        }
    }
}

.users-list {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    li {
        &:not(:first-child) {
            margin-left: -4px;
            a img {
                border: 2px solid color(borderColor2);
            }
        }
    }
    li a {
        width: 36px;
        height: 36px;
        img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
        }
    }
    li button {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #0095ff4d;
        border: 2px solid color(borderColor2);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        img {
            transition: 0.3s;
        }
        &:hover {
            background-color: color(primary);
            img {
                filter: brightness(0) invert(1);
            }
        }
    }
}

.best-pricing-info {
    margin-top: 40px;
    background: color(whiteColor);
    border-radius: 35px;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    .list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
        .list-item {
            display: flex;
            align-items: center;
            gap: 10px;
            svg {
                font-size: 18px;
                color: color(textColor);
            }
            p {
                margin-bottom: 0;
            }
        }
    }
    &-right {
        display: flex;
        align-items: center;
        gap: 27px;
        flex-wrap: wrap;
        p {
            margin-bottom: 0;
        }
    }
}

.compare-plans-btn {
    display: flex;
    align-items: center;
    gap: 13px;
    transition: 0.3s;
    span {
        color: color(primary);
    }
    .icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #0095ff4d;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        svg {
            font-size: 16px;
            transition: 0.3s;
        }
    }
    &:hover {
        .icon {
            background-color: color(primary);
            svg {
                color: color(whiteColor);
                transform: rotate(-45deg);
            }
        }
    }
}
/*-- best-pricing-section end --*/
